[Unit]
Description=Dusty Pig Server

[Service]
WorkingDirectory=/var/www/service.dustypig.tv
ExecStart=/var/www/service.dustypig.tv/DustyPig.Server --urls=http://localhost:8080
Restart=on-abort
KillSignal=SIGINT
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target


