<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/var/log/DustyPig.Server/internal-nlog.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target 
      xsi:type="File" 
      name="byCallsite" 
      maxArchiveDays="30" 
      fileName="/var/log/DustyPig.Server/${logger}-${shortdate}.log"
      layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!-- BlackHole without writeTo -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

	  <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Warn" final="true" />

    <!--All logs, Except what's filtered above-->
    <logger name="*" minlevel="Info" writeTo="byCallsite" />

  </rules>
</nlog>